In [19]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import linear_model
ld = pd.read_csv('laptop_data.csv')
ld.sample(5)

,Unnamed: 0,Company,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price
783,783,Lenovo,Notebook,15.6,1366x768,Intel Celeron Quad Core N3710 1.6GHz,8GB,1TB HDD,Intel HD Graphics 405,No OS,2.2kg,17529.1200
637,637,Lenovo,Notebook,14.0,1366x768,Intel Celeron Dual Core N3060 1.6GHz,2GB,32GB Flash Storage,Intel HD Graphics 400,Windows 10,1.42kg,13266.7200
105,105,HP,Notebook,14.0,IPS Panel Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,6GB,256GB SSD,Nvidia GeForce 940MX,Windows 10,1.58kg,35111.5200
1178,1178,MSI,Gaming,15.6,Full HD 1920x1080,Intel Core i7 6700HQ 2.6GHz,16GB,128GB SSD + 1TB HDD,Nvidia GeForce GTX 970M,Windows 10,1.91kg,114731.5536
1108,1108,HP,Notebook,15.6,Full HD 1920x1080,AMD A6-Series 9220 2.5GHz,4GB,1TB HDD,AMD Radeon R4,Windows 10,2.1kg,21205.4400

In [20]:
ld.drop(columns=["Weight","OpSys","Unnamed: 0","Company","TypeName","Cpu","ScreenResolution","Inches","Gpu"],inplace=True)
ld.sample(5)

      Ram                Memory       Price
429   4GB              32GB SSD  15930.7200
501   8GB             256GB SSD  32979.7872
557   6GB  128GB SSD +  1TB HDD  50562.7200
889   4GB             500GB HDD  20193.1200
392  12GB               1TB HDD  36975.7872

In [21]:
# dividing memory into 3 columns of HDD & SSD & Flash storage
memory = ld.Memory

def getHybrid(x,query):
     idx = x.find(query)
     if idx==-1:
        return 0
     ar = x[0:idx].split("+")
     ans =  ar[len(ar)-1]
     tb = ans.find("TB")
     if tb!=-1:
        val = float(ans[0:tb])
        val = val*1024
        ans = str(val)+"GB"
     gb = ans.find("GB")
     return float(ans[0:gb])


#print(memory)
hdd = np.array([getHybrid(xi,"HDD") for xi in memory])
ssd = np.array([getHybrid(xi,"SSD") for xi in memory])
flash = np.array([getHybrid(xi,"Flash") for xi in memory])
Hybrid = np.array([getHybrid(xi,"Hybrid") for xi in memory])
ld["hdd"]=hdd
ld["ssd"]=ssd
ld["flash"]=flash
ld["hybrid"]=Hybrid
ld.drop(columns=["Memory"],inplace=True)

In [22]:
ld['Ram'] = ld['Ram'].str.replace('GB','')
ld["Ram"]= ld["Ram"].astype('float')
ld["Price"] = ld["Price"].astype("float")
ld.sample(10)

       Ram       Price     hdd    ssd  flash  hybrid
1046   8.0   78268.320     0.0  256.0    0.0     0.0
617    8.0   74005.920     0.0  512.0    0.0     0.0
1253   8.0   57116.160     0.0  256.0    0.0     0.0
752    4.0   30849.120  1024.0    0.0    0.0     0.0
220    8.0   36089.208     0.0  256.0    0.0     0.0
207    8.0  103842.720     0.0  256.0    0.0     0.0
567    8.0   39373.920  1024.0    0.0    0.0     0.0
235   16.0   47898.720     0.0  256.0    0.0     0.0
735    4.0   41505.120  1024.0    0.0    0.0     0.0
1204   8.0   62284.320  1024.0    0.0    0.0     0.0

In [23]:
reg = linear_model.LinearRegression()
reg.fit(ld.drop(columns="Price"),ld['Price'])
ans = reg.predict([[8,1024,0,0,1024]])
print(ans)

[49449.34782207]

C:\Users\rocky\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\LocalCache\local-packages\Python312\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

In [24]:
ld.sample(4)

     Ram      Price     hdd    ssd  flash  hybrid
503  4.0  15930.720   500.0    0.0    0.0     0.0
754  4.0  45282.672     0.0  256.0    0.0     0.0
73   8.0  58341.600  1024.0  128.0    0.0     0.0
523  4.0  36709.920     0.0  128.0    0.0     0.0